/* Some default layout rules for our pages */

* {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

html, body {
	width: 100%;
	/* overflow-x: hidden; */
}

canvas {
	top: 0;
	position: fixed;
	z-index: -1;
}
p {
	padding: 5px;
}