body {
	/* Animation */
	background-image: url('background/1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	
	animation-name: sshow;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 10s;

	-webkit-animation-name: sshow;
	-webkit-animation-duration: 60s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 10s;
		
	-moz-animation-name: sshow;
	-moz-animation-duration: 60s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: 10s;
		
	-o-animation-name: sshow;
	-o-animation-duration: 60s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-delay: 10s;
}

@keyframes sshow {
	0%    { background-image: url('background/1.png'); }
	11.1% { background-image: url('background/2.png'); }
	22.2% { background-image: url('background/3.png'); }
	33.3% { background-image: url('background/4.png'); }
	44.4% { background-image: url('background/5.png'); }
	55.5% { background-image: url('background/6.png'); }
	66.6% { background-image: url('background/7.png'); }
	77.7% { background-image: url('background/8.png'); }
	88.8% { background-image: url('background/1.png'); }
}

@-o-keyframes sshow {
	0%    { background-image: url('background/1.png'); }
	11.1% { background-image: url('background/2.png'); }
	22.2% { background-image: url('background/3.png'); }
	33.3% { background-image: url('background/4.png'); }
	44.4% { background-image: url('background/5.png'); }
	55.5% { background-image: url('background/6.png'); }
	66.6% { background-image: url('background/7.png'); }
	77.7% { background-image: url('background/8.png'); }
	88.8% { background-image: url('background/1.png'); }
}

@-webkit-keyframes sshow {
	0%    { background-image: url('background/1.png'); }
	11.1% { background-image: url('background/2.png'); }
	22.2% { background-image: url('background/3.png'); }
	33.3% { background-image: url('background/4.png'); }
	44.4% { background-image: url('background/5.png'); }
	55.5% { background-image: url('background/6.png'); }
	66.6% { background-image: url('background/7.png'); }
	77.7% { background-image: url('background/8.png'); }
	88.8% { background-image: url('background/1.png'); }
}

@-moz-keyframes sshow {
	0%    { background-image: url('background/1.png'); }
	11.1% { background-image: url('background/2.png'); }
	22.2% { background-image: url('background/3.png'); }
	33.3% { background-image: url('background/4.png'); }
	44.4% { background-image: url('background/5.png'); }
	55.5% { background-image: url('background/6.png'); }
	66.6% { background-image: url('background/7.png'); }
	77.7% { background-image: url('background/8.png'); }
	88.8% { background-image: url('background/1.png'); }
}