* {
	font-family: 'RedAlert', monospace;
	padding: 0;
	margin: 0;
}

html, body {
	overflow-x: hidden;
}

body {
	padding: 2rem;
}

h1 {
	font-weight: 200;
	font-size: 2rem;
}

p {
	margin: 0.5rem 0rem 0.5rem 0rem;
}

header {
	text-align: center;
	color: white;
	
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-transform: uppercase;
}

header h1 {
	font-size: 8rem;
	font-weight: 100;
}

article, footer {
    border-style: double;
    border-width: 0.5rem;
	border-radius: 0.75rem;
	
	background: white;
	padding: 0.75rem;
	margin: 0.75rem;
}

article {
	max-width: 40rem;
}

	article h1, article a {
		text-transform: uppercase;
	}

footer {
	max-width: 20rem;
}

/* columns */
footer, section {
	float: left;
}