canvas {
	background: #111;
}

h1 {
	color: DimGray;
	text-align: center;
	font-family: 'Droid Sans Mono';
	font-size: 40px;
	font-weight: 300;
}

h2 {
	color: gray;
	text-align: center;
	font-family: 'Ubuntu Mono';
	font-weight: 100;
}

p {
	margin: 10px;
	color: gray;
	text-align: center;
	font-family: 'Ubuntu Mono', sans-serif;
	font-weight: 100;
}

header {
	top: 0;
	position: relative;
	display: table;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
	padding-top: 100px;
	padding-bottom: 100px;
}

header * {
	color: white;
	text-align: center;
	z-index: 10;
	position: relative;
	line-height: 1;
	padding: 0;
	margin: 0;
}

header h1 {
	font-size: 140px;
	font-family: 'Source Code Pro';
}

header h2 {
	color: silver;
}

.content * {
	text-align: left;
}

.content {
	max-width: 750px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: black;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
	border-color: #464646;
	border-style: solid;
}

.content h1, h2, p {
	padding-left: 12px;
	padding-right: 12px;
}

.content h1 {
	color: silver !important;
	text-shadow: none !important;
	font-size: 30px !important;
	font-family: 'Droid Sans Mono' !important;
}

	.content h1::before {
		content: '> ';
	}

	.content a::before {
		content: '> ';
	}

.archived {
	border-color: #464646 darkred #464646 #464646 !important;
}

.archive-banner p {
	float: right;
	padding: 10px;
	border-color: #464646 darkred #464646 #464646 !important;
	border-style: solid;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
	background-color: black;
	text-align: right;
	text-transform: uppercase;
	color: silver;
	margin: 0;
}

.stuff {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(20, 20, 20, 0.8);
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
	border-color: #464646;
	border-style: solid;
}

.stuff h1 {
	font-family: 'Source Code Pro';
	color: white;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 dimgray;
	font-size: 50px;
	margin-bottom: 20px !important;
}

.nsfl {
	box-shadow: 10px 10px 0 #E74A4A;
	border-color: #E74A4A;
	border-style: solid;
}

.nsfl * {
	display: none;
}

.nsfl .nsfl-warning {
	display: block;
}

.nsfl .nsfl-warning * {
	display: block;
}

.nsfl .nsfl-button {
	border-color: #E74A4A;
	border-style: solid;
	margin-right: auto;
	margin-left: auto;
}

button {
	text-align: center;
	margin: 20px;
	padding: 14px;
	color: silver;
	border-color: #444;
	border-style: solid;
	background: rgba(30, 30, 30, 0.8);
	text-transform: uppercase;
	font-family: 'Droid Sans Mono';
}

#hideshowbutton {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
}

#particles h1 {
	margin: 0 !important;
}

#particles #controls h2 {
	color: gray;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Droid Sans Mono';
}

#particles #controls {
	height: 780px; /* Hard coded height */
}

.indent {
	height: 100%;
	width: 100%;
}

.indent section {
	padding: 10px;
	width: 50%;
	float: left;
}

.range-slider {
	background: #333;
	border: 1px solid grey;
}

.range-slider-active-segment {
	background: silver;
}

.range-slider-handle {
	background: grey;
}