/* xenxier.tk CSS rules (version 4) */

* {
	margin:0;
	padding:0;
	margin-left:auto;
	margin-right:auto;
}

a:link {color:#696969; text-decoration:underline;}
a:visited {color:#696969; text-decoration:underline;}
a:hover {color:#09F; text-decoration:underline;}
a:active {color:#09F; text-decoration:underline;}

#header {
}

	#header h1 {
		text-align:center;
		font-size:120px;
	}
	
	#header h2 {
		text-align:center;
	}
	
	#header p {
		text-align:center;
		max-width: 900px;
	}

.project {
	max-width:900px;
	margin-top:40px;
	background-color:#FBFBFB;
	box-shadow: 0px 0px 18px #CCCCCC;
	padding:20px;
}

	.project a:link {color:#696969;text-decoration:overline;}
	.project a:visited {color:#696969;text-decoration:overline;}
	.project a:hover {color:#09F;text-decoration:overline;}
	.project a:active {color:#09F;text-decoration:overline;}

/* Text Styles */

h1 {
	color:#09F;
	text-align:left;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight:100;
	font-size:72px;
}

h2 {
	color:#696969;
	text-align:left;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight:300;
	font-size:30px;
}

h3 {
	color:gray;
	text-align:left;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight:300;
	font-size:40px;
}

p {
	color:grey;
	text-align:left;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight:300;
	font-size:16px;
}

ul {
	padding-left: 20px;
}

ul, li {
	color:grey;
	text-align:left;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight:300;
	font-size:16px;
	list-style-type: decimal;
}