/* kenan.css - (C) Benjamin Gwynn 2015 - http://xenxier.com */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

* {
	font-family: 'Oswald', serif;
	padding: 0;
	margin: 0;
	/* color: rgba(230, 40, 130, 1); */
    color: white;
}


html, body {
	overflow-x: hidden;
	width: 100%;
	background: rgba(230, 40, 130, 1);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 300;
}

p {
	/* color: DimGray; */
	font-weight: 300;
	font-size: 1.2rem;
}

header {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan1.jpg");
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	
	/* box-shadow: 0 0 10px black; */
	padding: 5rem;
}

	header * {
		color: white;
	}

	header h1 {
		font-size: 15rem;
		font-weight: 300;
		line-height: 20rem;
		text-align: left;
	}

	header h2 {
		font-size: 3rem;
		font-weight: 100;
		text-align: right;
	}

main {
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    border-top: dashed;
    padding-bottom: 5rem;
}

        main h1 {
            font-size: 15rem;
        }

        main section {
            width: 80%;
            margin: 0 auto 0 auto;
        }

            main section h1 {
                font-size: 5rem;
            }

#home {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan2.jpg");
}

#about {
	/* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan3.jpg"); */
	background-image: url("mlg.png");
	padding-bottom: 0;
}

	#about * {
		text-transform: lowercase;
		font-family: "Comic Sans MS";
		color: yellow;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
	#mlgcrap {
		text-align: center;
		width: 100%;
	}
	
#policies {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan3.jpg");
}

#speech {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan4.jpg");
}

	#speech  section {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==);
		border-style: solid;
		border-color: white;
		width: 80% !important;
		margin: 1rem auto 1rem auto;
		padding: 2rem 4rem 2rem 4rem;
	}
	
	#speech section iframe {
		display: block;
		margin: 1rem auto;
	}
	
	#speech section p {
		font-size: 2rem;
		text-align: center;
	}

#contact {
	background: rgba(230, 40, 130, 1);
}

	#contact form {
		margin-top: 1rem;
		margin-bottom: 0;
	}

		#contact form  * {
			padding: 1rem;
			color: dimgray;
			font-weight: 300;
			background-color: white;
			border-color: pink;
			display: block;
		}
		
		#msg {
			width: 100%;
			height: 5rem;
			font-size: 1rem;
		}
		
		#snd {
			text-transform: uppercase;
			margin: 1rem auto 0 auto;
			text-align: center;
			width: 50%;
			font-size: 2rem;
			border-style: solid;
			background: none;
		}

/* Footer */

footer {
    border-top: dashed;
    background: rgba(230, 40, 130, 1);;
}

footer * {
    width: 100%;
	font-weight: 100;
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
	text-align: center;
}

/* NAV STUFF */

nav {
    margin-top: 5rem;
}

nav ul li {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    width: 20%;
    float: left;
    background: rgba(230, 40, 130, 0.5);
    text-transform: uppercase;
}

nav ul li:before {
    background: white !important;
}

nav ul li a {
    padding: 0.5rem;
    color: white;
    display: block;
    text-decoration: none;
}

/* Slider overrides */

.bxslider  li {
	background: rgba(220, 30, 120, 1);
}

.bxslider  *{
	margin-left: auto;
	margin-right: auto;
}

/* Jump to top stuff */
#totop {
	text-decoration: none;
	display: none;
	position: fixed;
	width: auto;
	background: rgba(220, 30, 120, 1);
	color: white;
	text-align: center;
	bottom: 2rem;
	right: 2rem;
	padding: 1rem;
	font-size: 1rem;
	z-index: 9;
	border-color: white;
	border-style: solid;
	width: 1.5rem;
	height: 1.5rem;
}