/* kenan.css - (C) Benjamin Gwynn 2015 - http://xenxier.com */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

* {
	font-family: 'Oswald', serif;
	padding: 0;
	margin: 0;
	/* color: rgba(230, 40, 130, 1); */
    color: white;
}


html, body {
	overflow-x: hidden;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 300;
}

p {
	/* color: DimGray; */
	font-weight: 300;
	font-size: 1.2rem;
}

header {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan1.jpg");
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	
	/* box-shadow: 0 0 10px black; */
	padding: 5rem;
}

	header * {
		color: white;
	}

	header h1 {
		font-size: 15rem;
		font-weight: 300;
		line-height: 20rem;
		text-align: left;
	}

	header h2 {
		font-size: 3rem;
		font-weight: 100;
		text-align: right;
	}

main {
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    border-top: dashed;
    padding-bottom: 5rem;
}

        main h1 {
            font-size: 15rem;
        }

        main section {
            width: 80%;
            margin: 0 auto 0 auto;
        }

            main section h1 {
                font-size: 5rem;
            }

#home {   
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan2.jpg");
}

#about {   
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan3.jpg");
}

#gallery {   
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4ptG0CQAFywJD4dhFbwAAAABJRU5ErkJggg==), url("kenan4.jpg");
}

#contact {   
	background: rgba(230, 40, 130, 1);
}

/* Footer */

footer {
    border-top: dashed;
    background: rgba(230, 40, 130, 1);;
}

footer * {
    width: 100%;
	font-weight: 100;
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
	text-align: center;
}

/* NAV STUFF */

nav {
    margin-top: 5rem;
}

nav ul li {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    width: 25%;
    float: left;
    background: rgba(230, 40, 130, 0.5);
    text-transform: uppercase;
}

nav ul li:before {
    background: white !important;
}

nav ul li a {
    padding: 0.5rem;
    color: white;
    display: block;
    text-decoration: none;
}