* {
	font-family: 'RedAlert', serif;
	padding: 0;
	margin: 0;
	color: IndianRed;
	
    text-shadow:
        3px 3px 0 	#B85353,
      -1px -1px 0 	#B85353,  
       1px -1px 0 	#B85353,
       -1px 1px 0 	#B85353,
        1px 1px 0 	#B85353;
}

canvas {
	position: fixed;
	z-index: -1;
}

section {
	padding: 2rem;
}

h1, h2, h3 {
	font-size: 500%;
	text-align: center;
}

p {
	font-size: 300%;
}

#benjamin {
	text-align: right;
}

body {
	background: LightCoral;
}

img { 
	display:none;
}

content {
}